@font-face {
  font-family: "iconfont"; /* Project id 4425814 */
  src: url('iconfont.woff2?t=1708342211226') format('woff2'),
       url('iconfont.woff?t=1708342211226') format('woff'),
       url('iconfont.ttf?t=1708342211226') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-justifyjustify:before {
  content: "\e70b";
}

.icon-xianxingsanheng:before {
  content: "\e72f";
}

.icon-shuanghengxian:before {
  content: "\e78e";
}

.icon-Back:before {
  content: "\e649";
}

.icon-close:before {
  content: "\e64a";
}

.icon-left:before {
  content: "\e628";
}

.icon-right:before {
  content: "\e642";
}

.icon-yejianmoshi:before {
  content: "\e608";
}

.icon-search-right:before {
  content: "\e607";
}

.icon-back_android_light:before {
  content: "\e7ed";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-shuqian:before {
  content: "\e610";
}

.icon-wj-bjb:before {
  content: "\e77f";
}

.icon-shuqian1:before {
  content: "\e7b5";
}

.icon-settings:before {
  content: "\e601";
}

.icon-daosanjiao:before {
  content: "\e8d8";
}

.icon-upload:before {
  content: "\e60f";
}

.icon-cloud:before {
  content: "\e7d9";
}

.icon-book:before {
  content: "\e632";
}

.icon-Books_bookshelf:before {
  content: "\e875";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-tianjia:before {
  content: "\e609";
}

.icon-caidan:before {
  content: "\e655";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-shouye:before {
  content: "\e612";
}

.icon-zhouyejiaoti:before {
  content: "\e600";
}

